<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         failOnWarning="true"
         cacheResult="false">
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    <env name="BROWSERTEST_OUTPUT_BASE_URL" value=""/>
  </php>
  <coverage includeUncoveredFiles="false"
            processUncoveredFiles="false"
            pathCoverage="false"
            ignoreDeprecatedCodeUnits="true"
            disableCodeCoverageIgnore="false">
    <include>
      <!-- Relative to this file! -->
      <directory suffix=".php">src</directory>
      <directory suffix=".module">.</directory>
    </include>
  </coverage>
</phpunit>
