.un-date {
  display: block;
}
.un-date__wrapper {
  display: block;
}
.un-date__label {
  display: inline;
}
.un-date__date {
  display: inline;
}
.un-date__time {
  display: inline;
}

.un-date.rtl {
  direction: rtl;
}

.un-date-block {
  float: left;
  overflow: hidden;
  min-width: 5.5rem;
  text-align: center;
  border: 1px solid var(--brand-grey);
  border-radius: 0.25rem;
  background-color: var(--cd-white);
}

.un-date-block__wrapper {
  padding: 0 0.5rem;
  background: var(--brand-primary);
}

.un-date-block__day {
  word-spacing: -0.5rem;
  color: var(--cd-white);
  font-size: 3rem;
  font-weight: 700;
}

.un-date-block__month,
.un-date-block__year {
  text-transform: uppercase;
  color: var(--brand-primary);
  font-size: 0.875rem;
  font-weight: 700;
}

.un-date-block__wrapper + .un-date-block__wrapper {
  padding: 0.25rem 0.5rem;
  background: transparent;
}

.un-date-block .date-recur-interpretaton,
.un-date-block .date-recur-occurrences {
  clear: both;
}

/* Hide our label if one is set */
.field--label-above .field__label ~ .field__item .un-date,
.field--label-inline .field__label ~ .field__item .un-date {
  margin-block-start: 0;
}

.field--label-above .field__label ~ .field__item .un-date__label,
.field--label-inline .field__label ~ .field__item .un-date__label {
  display: none;
}

.field--label-inline .field__label ~ .field__item .un-date__date,
.field--label-above .field__label ~ .field__item .un-date__date {
  margin-inline-start: 0;
}

